<div class="artwork">
  <%= render 'shared/carousel', images: @images %>
  </div>
  

  <div class="ender">
    <div class="enderTxt">
      <h1>Mirage is a 3D Home Art Company</h1>

       <p>We paint quality pieces in your home that bring your rooms to life. Whether it be a beach floor in your bathroom, a bamboo forest in your living room, a galaxy of stars in your kid's room, or anything else you desire, we can paint it. With our talented artists, and professional managers, experience the craze that has hit Los Angeles for yourselves!</p>
    </div>
  </div>

  <div class="footer">
    
  </div>