<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
  <body>
  <div class="art-box">
    <h1 class="art-head">Artists:</h1>
    <!-- <hr style="width:70%;"/> -->
    <div class="art-list">
        <%= render @artists %>
    </div>
  </div>
  </body>
</html>