<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
  <body>
  <div class="artBox">
    <h1 class="artHead">Artists:</h1>
    <div class="artList">
        <%= render @artists %>
    </div>
  </div>
  </body>
</html>