<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
  <div class="artBox">
    <h1 class="showHead"><%= "Hello, I'm #{@artist.name}!" %></h1>
    <p class="description"><%= @artist.description %></p>

    <div class="carouselBox">
      <div class="artistCarousel">
        <%= render 'shared/carousel', images: @artist.artwork %>
      </div>
    </div>
  </div>

  </body>
</html>
