@import "font-awesome-sprockets";
@import "font-awesome";

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif !important;
  background-color: #F2F3F4 !important;

}

.alert {
  margin: 10px 50px;
  border: 2px solid #1A5276 !important;
  background-color: #5499C7;
  color: #1A5276;
}

/* HEADER */

.header {
  height: 100px;
  margin: 0px 0px 15px;
  // width: 90%;
  background-color: #fff;
}

.links {
  width: 50%;
  height: 100%;
  margin: 0px auto;
    a {
      text-decoration: none;
      color: #000;
      margin-left: 25px;
      position: relative;
      top: 10px;
    }
}

.logo {
  height: 85px;
}