.artBox {
  width: 90%;
  margin: 0px auto;
  background-color: #EAEDED;
  padding-bottom: 1px;
}

.artHead {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 75px;
  text-align: center;
  color: #fff;
  background-color: #5C5959
}

.artList {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.artist {
  display: inline-block;
  margin: 25px;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  a {
    font-size: 25px;
    color: #000;
    position: relative;
    top: 5px;
  }
}

.headShot {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

// SHOW PAGE

.description {
  width: 60%;
  background-color: #fff;
  margin-left: 0px;
  padding: 50px 20px 50px 50px;
  font-size: 18px;
}

.showHead {
  font-size: 75px;
  text-align: center;
  padding: 25px;
}

.carouselBox {
  margin: 50px;
}











