.artwork {
  max-width: 90%;
  text-align: center;
  margin: 10px auto;
}

.himage{
  height: 500px;
  width: 100%;
  object-fit: contain;
}


.ender {
  height: 300px;
  width: 75%;
  text-align: center;
  margin: 0px auto;
  background-color: #5C5959;
}

.footer {
  height: 100px;
}