<div class="header">
    <%= link_to image_tag('MirageLogo.png', class: "logo"), root_path %>
    <div class="links">
    <%= link_to 'Artists', artists_path %>
    <%= link_to 'Sign up Now!', new_user_path %>
    </div>
</div>